<!-- your html code here -->
 <!-- SilviaMoraga -->
<div class="p-3 mb-3 bg-white text-dark container-fluid align-items-start">
    <div class="col-12 m-3">
        <h1>Porfolio</h1>
        <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nesciunt odio quos, ipsa ex beatae porro
            a
            sed iste minima quod assumenda repellendus exercitationem architecto recusandae obcaecati id.</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 align-items-start">
                <div class="card border-0" style="overflow: hidden; width: 700; object-fit: cover;">
                    <img src="https://estaticosgn-cdn.deia.eus/clip/dea7463b-7304-4a45-9d77-0851e0c6bcd4_16-9-discover-aspect-ratio_default_0.jpg"
                        class="card-img-top img-fluid" alt="hombre con ordenador">
                    <div class="card-body p-0 pt-3">
                        <h4 class="text-primary">Project Name</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quia corporis
                            id quo
                            eligendi repudiandae sed nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0" style="overflow: hidden; width: 700; object-fit: cover;">
                    <img src="https://i.imgflip.com/5cpunx.jpg" class="card-img-top img-fluid" alt="developer meme">
                    <div class="card-body p-0 pt-3">
                        <h4 class="text-primary">Project Name</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quia corporis
                            id quo
                            eligendi repudiandae sed nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0" style="overflow: hidden; width: 700; object-fit: cover;">
                    <img src="https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2020/10/26/el-gato-que-baila-al-ritmo-de-la-musica.png"
                        class="card-img-top img-fluid" alt="kitten">
                    <div class="card-body p-0 pt-3">
                        <h4 class="text-primary">Project Name</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quia corporis
                            id quo
                            eligendi repudiandae sed nobis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>